<body2>
{% extends "layout.html" %}

{% block conteudo %}

    <h1> Truth Or Dare Questions </h1>
        <section class="grid3-item">
            <div class="img">
                {% for d in data['TruthOrDare'] %}
                  <p > {{ d }}
                {% endfor%}
            </div>
        </section>
        
    <h1> Salário Cientista de Dados </h1>
        <section class="grid3-item">
            <div class="img">
                {% for d in cientist_data['job_title'] %}
                  <p > {{ d }}    
                {% endfor%}
            </div>
        </section>
        
    <h1> Series e Filmes netflix </h1>
        <section class="grid3-item">
            <div class="img">
                {% for d in netflix_data['title'] %}
                  <p > {{ d }}    
                {% endfor%}
            </div>
        </section>

</body2>
{% endblock conteudo %}