{% extends "index.html" %}

{% block conteudo %}

    <head>
    <body>
    <h1> Links tops </h1>
    <selection class="grid3">
        <div class="grid3-item">
         <h2>Faculdade</h2>
        <a href="https://idp.instructure.com/" target="_blank">
        <p>IDP</p>
        </a>
        <a href="https://notion.so" target="_blank">
        <p>Notion</p>
        </a>
        <a href="https://github.com/" target="_blank">
        <p>GitHub</p>
        </a>
        <a href="https://sig.unb.br/sigaa/verTelaLogin.do" target="_blank">
        <p>Sigaa</p>
        </a>
        <a href="https://www.cursoemvideo.com/cursos/" target="_blank">
        <p>Curso em Vídeo</p>
        </a>
        </div>
        <div class="grid3-item">
        <h2> Importantes </h2>
        <a href="https://ww1.receita.fazenda.df.gov.br/emissao-segunda-via/ipva" target="_blank">
        <p>IPVA</p>
        </a>
        <a href="http://www8.receita.fazenda.gov.br/SimplesNacional/Aplicacoes/ATSPO/pgmei.app/Identificacao" target="_blank">
        <p>MEI/DAS</p>
        </a>
        <a href="http://solucoes.receita.fazenda.gov.br/servicos/consrest/atual.app/paginas/mobile/restituicaoMobi.asp" target="_blank">
        <p>Consulta Restituição IR</p>
        </a>
        <a href="https://www.in.gov.br/servicos/diario-oficial-da-uniao" target="_blank">
        <p>Diário Oficial da União</p>
        </a>
        <a href="https://thenewscc.com.br/noticias/" target="_blank">
        <p>Notícias</p>
        </a>
        </div>
        <div class="grid3-item">
        <h2> Cidadão </h2>
        <a href="https://google.com" target="_blank">
        <p>IP</p>
        </a>
        <a href="https://google.com" target="_blank">
        <p>teste1</p>
        </a>
        <a href="https://google.com" target="_blank">
        <p>teste2</p>
        </a>
        <a href="https://google.com" target="_blank">
        <p>teste3</p>
        </a>
        <a href="https://google.com" target="_blank">
        <p>teste4</p>
        </a>
        </div>
        <div class="grid3-item">
        <h2> Detran </h2>
        <a href="https://google.com" target="_blank">
        <p>IPVA</p>
        </a>
        <a href="https://google.com" target="_blank">
        <p>teste1</p>
        </a>
        <a href="https://google.com" target="_blank">
        <p>teste2</p>
        </a>
        <a href="https://google.com" target="_blank">
        <p>teste3</p>
        </a>
        <a href="https://google.com" target="_blank">
        <p>teste4</p>
        </a>
        </div>
    </selection>
    </body>
    </head>
    
 
{% endblock conteudo %}